/* npm run watch-css */
/* Variables */
/* #fddb3a; */
html {
  scroll-behavior: smooth;
  background: fixed; }

body {
  height: 800px;
  padding-top: 110px;
  position: relative; }

#indexMarginTop {
  padding-top: 120px; }
  #indexMarginTop .inicio .subtitle {
    color: white;
    font-size: 0%; }

/* Estilo del header */
.nav-menu {
  background-color: #faf4ff; }
  .nav-menu .brandStyle {
    font-family: "Merriweather", serif;
    color: black;
    letter-spacing: 5px;
    font-size: 150%; }
  .nav-menu .navLinkStyle li {
    margin-left: 10px; }
    .nav-menu .navLinkStyle li a:hover {
      text-decoration: darkturquoise;
      background-color: white; }

@media only screen and (max-width: 768px) {
  body {
    padding-top: 115px; }
  button.navbar-toggler {
    color: #212121;
    background-color: #ffe05d; }
  .nav-menu
.brandStyle {
    letter-spacing: 5px; }
    .nav-menu
.brandStyle li {
      font-size: 70%;
      display: flex;
      padding-left: 0;
      margin-left: 0; }
  main .responsiveCarrusel {
    height: 400px; } }

@media only screen and (max-width: 320px) {
  body {
    padding-top: 100px; }
  .nav-menu .brandStyle {
    letter-spacing: 5px;
    font-size: 120%; }
  main .responsiveCarrusel {
    height: 400px; } }

/* contenido principal */
#inicio {
  margin-bottom: 150px 0x;
  background: fixed; }

main .subtitle {
  color: #ffe05d;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 250%;
  display: flex;
  justify-content: center; }

main .mainParagraph {
  color: #050505;
  text-align: center;
  font-family: "PT Serif", serif; }

main .carruselFondo {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px; }
  main .carruselFondo h3 {
    color: black; }
  main .carruselFondo p {
    color: black; }

/* Nosotros*/
.nosotros {
  margin-top: 60px; }
  .nosotros .subtitle__nosotros {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 10px; }
  .nosotros div {
    display: flex;
    flex-direction: row; }
    .nosotros div .izquierda {
      margin-left: 0%;
      text-align: justify;
      font-size: 22px;
      font-family: "PT Serif", serif;
      text-indent: 30px; }
    .nosotros div img {
      height: 400px;
      width: 100%;
      padding-bottom: 15px; }
    .nosotros div img:hover {
      box-shadow: 1px 1px whitesmoke, 2px 2px whitesmoke, 3px 3px whitesmoke;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px); }

@media only screen and (max-width: 768px) {
  .nosotros div {
    display: flex;
    flex-direction: column;
    position: sticky; } }

/* Especialidades */
#especialidades {
  margin-bottom: 40px; }

.bc-banner {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  background: #FFC759;
  padding: 40px; }

.bc-banner:hover {
  background-color: #ffd900; }

.bc-banner-header {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 2rem; }

.bc-banner-body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  z-index: 2;
  padding: 10px;
  font-size: 500px;
  letter-spacing: 10px; }

.bc-banner .bc-banner-cover {
  position: absolute;
  opacity: 0.3;
  filter: alpha(opacity=30);
  object-fit: cover;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%; }

.tabla_especialidades {
  margin-top: 30px; }
  .tabla_especialidades td {
    font-family: 'PT Sans', sans-serif; }

.tableIcon {
  color: #212121;
  padding: 5px 0;
  font-size: 40px; }

@media only screen and (max-width: 768px) {
  .bc-banner-body {
    font-size: 30px;
    text-align: center;
    margin-left: -10px;
    margin-right: 0px;
    padding: 0; } }

/* contacto */
#contacto {
  margin-bottom: 40px; }
  #contacto .subtitle__contacto {
    -webkit-border-radius: 100px 68px 86px 0px;
    -moz-border-radius: 100px 68px 86px 0px;
    border-radius: 100px 68px 86px 0px; }

#contactData li {
  font-size: 3.5vh;
  padding-right: 10px;
  padding-left: 10px;
  margin: 50px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }

@media only screen and (max-width: 768px) {
  #contactData .mailResponsive {
    margin-left: 0px;
    font-size: 100%; } }

@media only screen and (max-width: 320px) {
  #contactData .mailResponsive {
    margin-left: 0px;
    font-size: 80%; } }

/* pisando bootstrap contacto */
.formulario {
  background: #bedbbb; }
  .formulario .boton {
    margin: 5px; }

/* alquileres */
.alquiler-estilos main {
  margin-bottom: 100px; }

.grid-container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  transition: all 2s; }
  .grid-container img {
    width: 100%;
    padding: 10px; }

@media only screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column; } }

.img1 {
  /*grid-area: img1; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img1:hover {
  padding: 1px; }

.img2 {
  /*grid-area: img2; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img2:hover {
  padding: 1px; }

.img3 {
  /*grid-area: img3; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img3:hover {
  padding: 1px; }

.img4 {
  /*grid-area: img4; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img4:hover {
  padding: 1px; }

.img5 {
  /*grid-area: img5; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img5:hover {
  padding: 1px; }

.img6 {
  /*grid-area: img6; */
  height: 400px;
  width: 400px;
  object-fit: cover; }

.img6:hover {
  padding: 1px; }

/* footer info*/
.info {
  background-color: #b4b4b4;
  margin-top: 15px; }
  .info h3 {
    font-family: "PT Serif", serif;
    font-weight: bold;
    text-align: center; }
  .info p {
    font-family: "PT Serif", serif; }

.footer-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 10px; }
  .footer-info a {
    text-decoration: none;
    color: #212121;
    padding: 5px 0;
    font-size: 40px; }
  .footer-info a:hover {
    color: whitesmoke; }

@media only screen and (max-width: 768px) {
  footer {
    margin-left: 0px; }
  .info h3 {
    font-family: "PT Serif", serif;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding-top: 5px; }
  .info p {
    font-family: "PT Serif", serif;
    font-size: smaller;
    padding-top: 2px;
    padding-bottom: 3px;
    text-align: center; }
  .info .footer-info {
    display: grid;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 10px;
    grid-template-areas: "horarios redes" "direccion direccion"; }
  .info .Horarios {
    grid-area: horarios; }
  .info .Redes {
    grid-area: redes; }
  .info .Direccion {
    grid-area: direccion;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px; } }

.footer-credits {
  position: absolute;
  width: 100%;
  background-color: #faf4ff; }
  .footer-credits p {
    margin: 10px;
    color: #050505;
    font-size: small;
    text-align: center;
    font-family: "Merriweather", serif;
    height: 20px; }
